/**
 * Custom Properties
 * aka CSS variables.
 *
 * @link: https://developer.mozilla.org/en-US/docs/Web/CSS/--*
 **/

:root {
	--content-width: 65rem;
	--dropdown-symbol-width: 0.7em;

	/* Typography */
	--global-font-family: "Fira Sans Condensed", serif;
	--highlight-font-family: "Pirata One", "Helvetica Neue", "Arial Narrow", sans-serif;
	--global-font-size: 20;
	--global-font-line-height: 1.4;

	/* Custom editor font sizes */
	--font-size-small: calc(16 / var(--global-font-size) * 1rem);
	--font-size-medium-small: 1rem;
	--font-size-regular: calc(var(--global-font-size) / 16 * 1rem);
	--font-size-large: calc(36 / var(--global-font-size) * 1rem);
	--font-size-larger: calc(48 / var(--global-font-size) * 1rem);

	/* Colors */
	--global-font-color: #333;
	--border-color-dark: #333;
	--border-color-light: #ccc;
	--color-link: #0073aa;
	--color-link-visited: #333;
	--color-link-active: #18bff2;
	--color-quote-border: #000;
	--color-quote-citation: #6c7781;

	/* Custom editor colors */
	--color-theme-primary: #9a150f;
	--color-theme-secondary: #6a4e46;
	--color-theme-red: #e71d36;
	--color-theme-green: #a9e5bb;
	--color-theme-blue: #086375;
	--color-theme-yellow: #ffc02d;
	--color-theme-black: #141414;
	--color-theme-grey: #f2edeb;
	--color-theme-white: #fff;
	--color-custom-daylight: #fffecb;
	--color-custom-sun: #fea82f;
	--color-custom-bg: #fffdf7;
	--color-custom-shadow: #afafaf;
	--color-custom-gold: #ffc43b;
}
