/**
 * Custom styles for the front-page.php template.
 */

.site {
	margin: 0 auto;
	overflow: hidden;
	scroll-behavior: smooth;
	display: flex;
	flex-direction: column;
	justify-items: center;
	background-image: none;
	background-color: rgba(255, 255, 255, 0);

	@media screen and (min-width: 1040px) {
		display: grid;
		grid-template-columns: minmax(0, 1fr) minmax(
				37.5em,
				var(--content-width)
			) minmax(0, 1fr);
		justify-content: center;
	}
}

.header-image {
	display: none;
}

.entry-header > h1 {
	display: none;
}

.entry-meta {
	display: none;
}

.site-title {
	display: none;
}

.site-branding {
	display: none;
}

.front-page-spacer-bg {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	height: 33.8em;
	z-index: -1;
	background-color: #fffecb;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='52' height='52' viewBox='0 0 52 52'%3E%3Cpath fill='%23f7eba2' fill-opacity='0.4' d='M0 17.83V0h17.83a3 3 0 0 1-5.66 2H5.9A5 5 0 0 1 2 5.9v6.27a3 3 0 0 1-2 5.66zm0 18.34a3 3 0 0 1 2 5.66v6.27A5 5 0 0 1 5.9 52h6.27a3 3 0 0 1 5.66 0H0V36.17zM36.17 52a3 3 0 0 1 5.66 0h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 0 1 0-5.66V52H36.17zM0 31.93v-9.78a5 5 0 0 1 3.8.72l4.43-4.43a3 3 0 1 1 1.42 1.41L5.2 24.28a5 5 0 0 1 0 5.52l4.44 4.43a3 3 0 1 1-1.42 1.42L3.8 31.2a5 5 0 0 1-3.8.72zm52-14.1a3 3 0 0 1 0-5.66V5.9A5 5 0 0 1 48.1 2h-6.27a3 3 0 0 1-5.66-2H52v17.83zm0 14.1a4.97 4.97 0 0 1-1.72-.72l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1 0-5.52l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43c.53-.35 1.12-.6 1.72-.72v9.78zM22.15 0h9.78a5 5 0 0 1-.72 3.8l4.44 4.43a3 3 0 1 1-1.42 1.42L29.8 5.2a5 5 0 0 1-5.52 0l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1-.72-3.8zm0 52c.13-.6.37-1.19.72-1.72l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43a5 5 0 0 1 5.52 0l4.43-4.43a3 3 0 1 1 1.42 1.41l-4.44 4.43c.36.53.6 1.12.72 1.72h-9.78zm9.75-24a5 5 0 0 1-3.9 3.9v6.27a3 3 0 1 1-2 0V31.9a5 5 0 0 1-3.9-3.9h-6.27a3 3 0 1 1 0-2h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 1 1 2 0v6.27a5 5 0 0 1 3.9 3.9h6.27a3 3 0 1 1 0 2H31.9z'%3E%3C/path%3E%3C/svg%3E");

	@media screen and (max-width: 1040px) {
		height: 20em;
	}

	@media screen and (max-width: 600px) {
		height: 10em;
	}
}

.site-main {
	padding: 0;
	background-color: rgba(255, 255, 255, 0);
	border: none;
	box-shadow: none;
}

.primary-sidebar {
	box-shadow: none;
}

.entry-banner {
	position: relative;
	margin-top: 0;

	@media screen and (max-width: 600px) {
		padding-top: 1em;
	}
}

.banner-bg {
	position: relative;

	@media screen and (min-width: 1040px) {
		top: 0;
	}
}

.banner-bg img {
	object-fit: cover;
	filter: sepia(25%);
	border-radius: 0 0 0 20px;
	box-shadow: 0 1px 5px var(--color-theme-secondary);
	border: 1px solid var(--color-theme-yellow);
}

.banner-welcome {
	padding: 3em;
	position: absolute;
	top: 7em;

	@media screen and (max-width: 1040px) {
		top: 7em;
		padding: 1em;
	}

	@media screen and (max-width: 800px) {
		top: 6em;
		padding: 1em;
	}

	@media screen and (max-width: 600px) {
		display: none;
	}
}

.banner-text-only {

	@media screen and (min-width: 600px) {
		display: none;
	}

	@media screen and (max-width: 600px) {
		position: absolute;
		top: 10px;
		padding: 2.9em;
	}
}

.front-page-spacer-top {
	position: absolute;
	top: 69px;
	height: 30px;
	width: 100%;
	background-color: var(--color-theme-red);
	box-shadow: 0 1px 5px var(--color-theme-secondary);
	z-index: 80;

	@media (--narrow-menu-query) {
		display: none;
	}
}

.entry-content h1,
h2,
h3,
h4,
h5,
h6,
p {
	@media screen and (max-width: 1040px) {
	padding: 0 0.4em;
	}
}

.entry-content h1 {
	text-shadow: 1px 1px 1px var(--color-theme-secondary);
	@media screen and (max-width: 600px) {
		font-size: var(--font-size-larger);
	}
}

.entry-content p {
	font-size: xx-large;

	@media screen and (max-width: 600px) {
		font-size: x-large;
	}
}

.wp-block-separator {
	border: none;
	padding-bottom: 2em;
	margin-top: 1.5em;
	background: linear-gradient(120deg, var(--color-custom-daylight), var(--color-theme-red));
	border-top: 1em solid var(--color-theme-red);
}

.wp-block-custom {
	border: none;
	padding-top: 2em;
	margin-bottom: 1.5em;
	background: linear-gradient(240deg, var(--color-custom-daylight), var(--color-theme-red));
	border-bottom: 1em solid var(--color-theme-red);
	border-radius: 0 0 0 20px;
}

.wp-block-custom2 {
	border: none;
	border-top: 3px dashed var(--color-theme-grey);
	background: none;
}

.wp-block-cover {
	box-shadow: inset 0 1px 15px var(--color-theme-secondary);
}

.primary-sidebar {
	background-color: var(--color-theme-white);
}

.wp-block-pullquote {
	color: var(--color-theme-blue);
	font-weight: 700;
	border: 1px solid var(--color-theme-yellow);
	border-radius: 0 0 0 20px;
	padding-left: 1em;
	padding-right: 1em;
	box-shadow: 0 1px 15px var(--color-custom-shadow);
	background: var(--color-custom-daylight);
	background-image: url("data:image/svg+xml,%3Csvg width='84' height='84' viewBox='0 0 84 84' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffa200' fill-opacity='0.4'%3E%3Cpath d='M84 23c-4.417 0-8-3.584-8-7.998V8h-7.002C64.58 8 61 4.42 61 0H23c0 4.417-3.584 8-7.998 8H8v7.002C8 19.42 4.42 23 0 23v38c4.417 0 8 3.584 8 7.998V76h7.002C19.42 76 23 79.58 23 84h38c0-4.417 3.584-8 7.998-8H76v-7.002C76 64.58 79.58 61 84 61V23zM59.05 83H43V66.95c5.054-.5 9-4.764 9-9.948V52h5.002c5.18 0 9.446-3.947 9.95-9H83v16.05c-5.054.5-9 4.764-9 9.948V74h-5.002c-5.18 0-9.446 3.947-9.95 9zm-34.1 0H41V66.95c-5.053-.502-9-4.768-9-9.948V52h-5.002c-5.184 0-9.447-3.946-9.95-9H1v16.05c5.053.502 9 4.768 9 9.948V74h5.002c5.184 0 9.447 3.946 9.95 9zm0-82H41v16.05c-5.054.5-9 4.764-9 9.948V32h-5.002c-5.18 0-9.446 3.947-9.95 9H1V24.95c5.054-.5 9-4.764 9-9.948V10h5.002c5.18 0 9.446-3.947 9.95-9zm34.1 0H43v16.05c5.053.502 9 4.768 9 9.948V32h5.002c5.184 0 9.447 3.946 9.95 9H83V24.95c-5.053-.502-9-4.768-9-9.948V10h-5.002c-5.184 0-9.447-3.946-9.95-9zM50 50v7.002C50 61.42 46.42 65 42 65c-4.417 0-8-3.584-8-7.998V50h-7.002C22.58 50 19 46.42 19 42c0-4.417 3.584-8 7.998-8H34v-7.002C34 22.58 37.58 19 42 19c4.417 0 8 3.584 8 7.998V34h7.002C61.42 34 65 37.58 65 42c0 4.417-3.584 8-7.998 8H50z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.has-theme-green-background-color {
	background-color: var(--color-theme-red);
	border-radius: 0 20px 0 0;
}

.has-custom-sun-background-color {
	background-color: var(--color-theme-yellow);
}

.has-theme-black-background-color {
	background-color: var(--color-theme-black);
	border-radius: 0 20px 0 20px;
}

.has-theme-white-color {
	color: var(--color-theme-white);
}
