/**
 * Custom styles for the front-page.php template.
 */

/*--------------------------------------------------------------
# Main Layout
--------------------------------------------------------------*/

.site {
	margin: 0 auto;
	overflow: hidden;
	scroll-behavior: smooth;
	display: flex;
	flex-direction: column;
	justify-items: center;
	background-image: none;

	@media screen and (max-width: 600px) {
		background: -webkit-linear-gradient(270deg, rgb(255, 246, 246) 20%, #fffecb 40%, #fff 80%);
	}

	@media screen and (min-width: 1040px) {
		display: grid;
		grid-template-columns: minmax(0, 1fr) minmax(37.5em, var(--content-width)) minmax(0, 1fr);
		justify-content: center;
	}
}

.site-main {
	padding: 0;
	border: none;
	box-shadow: none;
	background-color: rgba(255, 255, 255, 0);
}

.primary-sidebar {
	box-shadow: none;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.front-page-spacer-bg {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	height: 32.7em;
	z-index: 0;
	background-color: #fffecb;

	/* phpcs:disable */

	/* stylelint-disable */
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='52' height='52' viewBox='0 0 52 52'%3E%3Cpath fill='%23f7eba2' fill-opacity='0.4' d='M0 17.83V0h17.83a3 3 0 0 1-5.66 2H5.9A5 5 0 0 1 2 5.9v6.27a3 3 0 0 1-2 5.66zm0 18.34a3 3 0 0 1 2 5.66v6.27A5 5 0 0 1 5.9 52h6.27a3 3 0 0 1 5.66 0H0V36.17zM36.17 52a3 3 0 0 1 5.66 0h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 0 1 0-5.66V52H36.17zM0 31.93v-9.78a5 5 0 0 1 3.8.72l4.43-4.43a3 3 0 1 1 1.42 1.41L5.2 24.28a5 5 0 0 1 0 5.52l4.44 4.43a3 3 0 1 1-1.42 1.42L3.8 31.2a5 5 0 0 1-3.8.72zm52-14.1a3 3 0 0 1 0-5.66V5.9A5 5 0 0 1 48.1 2h-6.27a3 3 0 0 1-5.66-2H52v17.83zm0 14.1a4.97 4.97 0 0 1-1.72-.72l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1 0-5.52l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43c.53-.35 1.12-.6 1.72-.72v9.78zM22.15 0h9.78a5 5 0 0 1-.72 3.8l4.44 4.43a3 3 0 1 1-1.42 1.42L29.8 5.2a5 5 0 0 1-5.52 0l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1-.72-3.8zm0 52c.13-.6.37-1.19.72-1.72l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43a5 5 0 0 1 5.52 0l4.43-4.43a3 3 0 1 1 1.42 1.41l-4.44 4.43c.36.53.6 1.12.72 1.72h-9.78zm9.75-24a5 5 0 0 1-3.9 3.9v6.27a3 3 0 1 1-2 0V31.9a5 5 0 0 1-3.9-3.9h-6.27a3 3 0 1 1 0-2h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 1 1 2 0v6.27a5 5 0 0 1 3.9 3.9h6.27a3 3 0 1 1 0 2H31.9z'%3E%3C/path%3E%3C/svg%3E");
	/* stylelint-enable */

	/* phpcs:enable */

	@media screen and (max-width: 1040px) {
		height: 18em;
	}

	@media screen and (max-width: 600px) {
		height: 10em;
	}
}

.front-page-spacer-top {
	position: absolute;
	top: 69px;
	height: 30px;
	width: 100%;
	background-color: var(--color-theme-red);
	box-shadow: 0 1px 5px var(--color-theme-secondary);
	z-index: 80;
	border-radius: 0 0 15px 15px;

	@media (--narrow-menu-query) {
		display: none;
	}
}

.entry-banner {
	position: relative;

	@media screen and (max-width: 600px) {
		padding-top: 1em;
	}
}

.banner-bg {
	position: relative;

	@media screen and (min-width: 600px) {
		opacity: 0.9;
	}

	@media screen and (min-width: 1040px) {
		top: 0;
	}
}

.banner-bg img {
	object-fit: cover;
	margin-top: -1em;
	filter: brightness(110%) saturate(120%);

	@media screen and (max-width: 1020px) {
		padding-top: 4.5em;
	}

	@media screen and (max-width: 600px) {
		height: 75vh;
		opacity: 0.8;
		padding-top: 2.5em;
		border: none;
	}
}

.banner-welcome {
	position: absolute;
	top: 6.5em;
	left: calc(2em + 1.5vw);

	@media screen and (max-width: 600px) {
		top: 7.5em;
		left: 0;
		right: 0;
		padding: 0 1em;
	}
}

.banner-welcome h1 {
	color: var(--color-custom-daylight);
	font-size: calc(1.9em + 2.1vw);

	@media screen and (min-width: 1020px) {
		font-size: 3.2em;
	}
}

.welcome {
	font-size: 1.5em;
	text-shadow: 1px 1px 0 var(--color-theme-red);
	display: block;
}

.kingdom {
	font-size: 1.75em;
	text-shadow: 1px 1px 0 var(--color-theme-red);
	display: block;
}

.avacal {
	font-size: 3em;
	color: var(--color-theme-primary);
	background: -webkit-linear-gradient(270deg, #ffc02d, #fff);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: -3px -3px 0 var(--color-theme-red);
	display: block;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

.entry-content h1,
h3,
h4,
h5,
h6,
p {

	@media screen and (max-width: 1040px) {
		padding: 0 0.4em;
	}
}

.entry-content h1 {
	text-shadow: 1px 1px 1px var(--color-theme-secondary);
	font-family: var(--global-font-family);
	line-height: 1.2;

	@media screen and (max-width: 600px) {
		font-size: var(--font-size-larger);
	}
}

.entry-content p {
	font-size: xx-large;
}

.entry-content {
	border-top: 70px solid var(--color-theme-red);
}

.wp-block-separator {
	border: none;
	border-top: 2px dashed var(--color-theme-red);
	background: none;
	padding: 0;
	margin-top: 1.5em;
}

.wp-block-separator.is-style-wide {
	border: none;
	margin-top: 0;
	width: 100%;

	@media screen and (min-width: 600px) {
		padding-bottom: 15px;
		background: linear-gradient(240deg, var(--color-theme-red), var(--color-custom-daylight));
		border-radius: 0 0 15px 0;
	}
}

.wp-block-custom {
	border: none;
	margin-bottom: 0;

	@media screen and (min-width: 600px) {
		padding-top: 15px;
		background: linear-gradient(240deg, var(--color-custom-daylight), var(--color-theme-red));
		border-radius: 15px 0 0 0;
	}
}

.wp-block-custom2 {
	border: none;
	border-top: 3px dashed var(--color-theme-grey);
	background: none;
}

.wp-block-cover {
	box-shadow: inset 0 4px 15px var(--color-theme-black);
}

.wp-block-image {
	border-radius: 15px;
}

.wp-block-button:hover {
	background-color: var(--color-theme-red);
	color: var(--color-theme-white);
	border-radius: 50px;
}

.has-theme-red-background-color {
	background-color: var(--color-theme-red);
	border-radius: 20px 0 0 0;
}

.has-custom-sun-background-color {
	background-color: var(--color-theme-yellow);
}

.has-theme-black-background-color {
	background-color: var(--color-theme-black);
	border-radius: 0 20px 0 20px;
}

.has-theme-white-color {
	color: var(--color-theme-white);
}

.front-page-link a:hover {
	color: var(--color-link-active);
}

/*--------------------------------------------------------------
# Removed Items
--------------------------------------------------------------*/

.header-image {
	display: none;
}

.entry-header > h1 {
	display: none;
}

.entry-meta {
	display: none;
}

.site-title {
	display: none;
}

.site-branding {
	display: none;
}
