/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/

.primary-sidebar {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	padding: 1em 0;
	font-family: var(--global-font-family);
	font-stretch: condensed;
	min-width: 300px;
	width: 100%;
}

@media (--content-query) {

	.primary-sidebar {
		justify-content: space-between;
	}

}
